{% extends 'principale/base.html' %}
{% block title %}
    Carrello
{% endblock %}
{% block content %}
<h1>Carrello</h1>
    {% if cart|length %}
    {% for item in cart %}
        <p>
            <b>Oggetto: {{ item.product.nome }} --------> </b>
               Quantità: {{ item.quantity }}
               <a href="{% url 'remove_from_cart' item.product.id %}">Rimuovi prodotto</a>
               <a href="{% url 'change_quantity' item.product.id %}?action=increase">Increase</a>
        <a href="{% url 'change_quantity' item.product.id %}?action=decrease">Decrease</a>
        </p>
    {% endfor %}

    <strong>Costo totale:</strong> {{ cart.get_total_cost }}

    <a href="{% url 'checkout' %}">Checkout</a>

    {% else %}
        <h1>No prodotti nel carrello</h1>
    {% endif %}
{% endblock %}