{% extends 'principale/base.html' %}

{% block title %}
{{ prodotto.nome }}
{% endblock %}

{% block content %}
<div class="container text-center">
  <div class="row align-items-start">
    <div class="col">
      <img src="{{ prodotto.immagine.url }}" style="max-width: 500px">
    </div>
    <div class="col">
        <h1>{{ prodotto.nome }}</h1>
        <h4>{{ prodotto.descrizione }}</h4>
        <a href='{% url 'add-to-cart' prodotto.id%}'>Aggiungi al carrello</a>
    </div>
  </div>
</div>
{% endblock %}