{% extends 'principale/base.html' %}

{% block title %}
{{ prodotto.nome }}
{% endblock %}

{% block content %}
    <br><br>
<div class="container text-center">
  <div class="row align-items-start">
    <div class="col-md">
      <img src="{{ prodotto.immagine.url }}" style="max-width: 500px">
    </div>
    <div class="col-md" align="left">
        <h1><b>{{ prodotto.nome }}</b></h1>
        <h4 style="color: #708090"><b>{{ prodotto.categoria }}</b></h4>
        <h5>{{ prodotto.descrizione }}</h5>
        <br>
        <h5><b>€ {{ prodotto.prezzo }}</b></h5>
        <br>
            {% if request.user.is_authenticated %}
             <a href="{% url 'add-to-cart' prodotto.id%}" type="button" class="btn btn-success">Aggiungi al carrello</a>
            {% else %}
            <b style="color: red"><p>*  Senza un account non ti è permesso aggiungere prodotti al carrello</p></b>
            <a href="{% url 'login'%}" type="button" class="btn btn-success">Effettua il login</a>
        {% endif %}

    </div>
  </div>
</div>
{% endblock %}